
@tailwind base;
@tailwind components;

.column1 {
    float: left;
    width: 20%;
}

.column2 {
    width: auto;
}

.row::after {
    content: "";
    display: table;
    clear: both;
    
} 


.taskBtn {
    @apply flex mx-auto text-white bg-blue-300 border-0 py-2 px-8 hover:bg-blue-500 rounded text-lg;
}

@tailwind utilities;

